@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --primary-color-light: rgb(241, 241, 241);
  --primary-color-dark: rgb(6, 44, 5);
  --primary-text-dark: rgb(22, 22, 22);
  --primary-text-color: rgb(240, 156, 47);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* AVATARS */

.vodiapicker {
  display: none;
}

#a {
  padding-left: 0px;
}

#a img,
.btn-select img {
  width: 27px;
}

#a li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ced4da;
}

#a li:hover {
  background-color: #f4f3f3;
}

#a li img {
  margin: 5px;
}

#a li span,
.btn-select li span {
  margin-left: 30px;
}

/* item list */

.b {
  display: none;
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  max-height: 250px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: white;
  z-index: 2;
}

.open {
  display: show !important;
}

.btn-select {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1.5em + 0.75rem + 2px);
}
.btn-select li {
  list-style: none;
  float: left;
  padding-bottom: 0px;
}

.btn-select:hover li {
  margin-left: 0px;
}

.btn-select:hover {
  background-color: #f4f3f3;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn-select:focus {
  outline: none;
}

.btn-select img {
  margin: 5px;
}

.lang-select {
  width: 100%;
}

/* END AVATARS */

/* Top navbar with languages and contact */
.nav-language {
  background: var(--primary-color-dark);
  margin: 0;
  padding: 0;
  color: var(--primary-color-light);
  font-size: 12px;
}

.nav-row {
  height: 5vh;
}

.nav-language img {
  margin-top: -3px;
  margin-right: 4px;
  height: 13px;
  width: 18px;
}

.nav-language button {
  background: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}

.nav-language button:hover {
  background: rgb(4, 26, 1);
  border-color: rgb(4, 26, 1);
}

.nav-language .active {
  background: rgb(4, 26, 1);
  opacity: 0.85;
}

.nav-language a {
  color: var(--primary-color-light);
}

.nav-language .social a:hover {
  color: var(--primary-text-color);
}

.nav-language .social i {
  padding-right: 4px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.nav-language .social a:hover i {
  font-size: 30px;
  margin-top: -10px;
}

.nav-language .bar {
  padding: 0 10px;
}

.nav-language .fab {
  padding: 0 5px;
}

.nav-contain {
  height: 5vh;
}

.nav-language .languages,
.nav-language .contact {
  max-height: 5vh;
}

/* Language Selector */

/* Primary Navbar */
.navbar {
  background: var(--primary-color-light);
  min-height: 12vh;
  z-index: 16;
}

.navbar-brand img {
  width: 200px;
  height: 100%;
}

.navbar-nav {
  color: #fff;
}

.navbar ul {
  text-align: end;
}

/* Main Sections */
.wallpaper {
  background-image: url(../apartmany/img/wallpaper.jpg);
  min-height: 700px;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-fix {
  position: fixed;
  top: 17vh;
}

.apartment-fix {
  border-top: 5px;
  border-left: 5px;
  border-bottom: 5px;
  border-right: 0;
  border-color: #fff;
  border-style: solid;
  min-height: 200px;
  top: 5%;
  position: fixed;
}

.apartment-fix h1 {
  font-size: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
}

/* CARDS */

@import url("https://afeld.github.io/emoji-css/emoji.css");

.no-overlay-picture {
  width: 40%;
  height: 40%;
  background-image: url(../apartmany/img/miro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0px 30px 1px rgba(0, 0, 0, 0.8);
}

.card-image {
  background-image: url(../apartmany/img/contact_form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-image .card-title {
  border-bottom: 2px solid var(--primary-text-color);
}

.contact-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

#apartment-name h5 {
  color: var(--primary-text-color);
}

#degree img {
  max-width: 60px;
  width: 100%;
  margin-bottom: 8px;
}

.content h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--primary-color-dark);
  margin: 0;
}

.content h3 {
  font-weight: 700;
  color: var(--primary-color-dark);
  margin: 0;
}

.content p {
  margin-top: 0;
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
}

.icons h5 {
  margin-bottom: 0;
}

.md-v-line {
  position: absolute;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  height: 50px;
  top: 0px;
  left: 54px;
}
.list-group {
  background: var(--primary-color-light);
}

.fridge,
.radio,
.towels,
.hairdryer {
  display: inline;
}
.fridge img {
  width: 20px;
  margin: 0 8px 2px -5px;
  top: 0;
}
.radio img {
  width: 20px;
  margin: 0 8px 5px 0;
  top: 0;
}
.towels img {
  width: 20px;
  margin: 0 8px 2px -5px;
  top: 0;
}
.hairdryer img {
  width: 15px;
  margin: 0 8px 2px 0;
  top: 0;
}

.filter-gray {
  filter: invert(0%) sepia(3%) saturate(851%) hue-rotate(340deg) brightness(89%)
    contrast(83%);
}

.btn-contact {
  padding: 1rem 2rem;
  color: #fff;
  background: var(--primary-text-color);
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-contact:hover {
  background: rgb(231, 123, 0);
  color: #fff;
}

/* HEADER PICTURE */
.pimg {
  background-image: url(../apartmany/img/contact-header.jpg);
  background-size: cover;
  background-position-y: 80%;
  height: 400px;
}

.pimg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 400px;
}

.pimg h1 {
  color: var(--primary-color-light);
}

/* RATING */
.star-rating {
  /* line-height:32px; */
  /* font-size:1.25em; */
  margin-bottom: 8px;
}

#div_id_rating {
  margin-bottom: 0px;
}

.star-rating .fa-star {
  color: var(--primary-text-color);
}

.star-rating .fa-star:hover {
  color: rgb(231, 123, 0);
  cursor: pointer;
}

.star-box {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1.5em + 0.75rem + 2px);
}

/* RATING AND REVIEW SUMMARY */

#logo_review_summary {
  max-width: 200px;
}

.rating-box {
  width: 130px;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--primary-text-color);
  color: #fff;
  border-radius: 50%;
}

.rating-label {
  font-weight: bold;
}

.rating-bar {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

.bar-5 {
  /* width: 70%; */
  height: 13px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
}

.bar-4 {
  /* width: 30%; */
  height: 13px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
}

.bar-3 {
  /* width: 20%; */
  height: 13px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
}

.bar-2 {
  /* width: 10%; */
  height: 13px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
}

.bar-1 {
  /* width: 0%; */
  height: 13px;
  background-color: var(--primary-text-color);
  border-radius: 20px;
}

td {
  padding-bottom: 10px;
}

/* REVIEW SCROLLBAR */
.scrollbar {
  height: 80vh;
  overflow-y: scroll;
}

/* MEDIA */
.media img {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
  border: 2px solid var(--primary-color-dark);
}

.media i {
  color: var(--primary-text-color);
}

.media span {
  font-size: 0.75rem;
  color: rgb(90, 90, 90);
}

/* CONTACT FORMS */
.header {
  border: none;
  background-color: var(--primary-color-dark);
  transition: 0.3s ease-in-out;
  color: var(--primary-color-light);
  border-radius: 0.25rem;
}

.form-selection button {
  border: none;
  background-color: var(--primary-color-dark);
  transition: 0.3s ease-in-out;
  color: var(--primary-color-light);
  border-radius: 0.25rem;
}

.form-selection button:hover {
  border: none;
  background-color: var(--primary-text-color);
  transition: 0.3s ease-in-out;
  color: var(--primary-color-light);
  border-radius: 0.25rem;
}

/* FORM */
.asteriskField {
  display: none;
}

/* FOOTER */
section #footer {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: var(--primary-color-light);
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: var(--primary-color-light) !important;
}

#footer h5 {
  border-bottom: 3px solid var(--primary-text-color);
  padding-bottom: 6px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  color: var(--primary-text-dark);
}

#footer a {
  color: var(--primary-text-dark);
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: var(--primary-text-dark);
}

#footer ul.social li a:hover {
  color: var(--primary-text-color);
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

#footer h5.transparent {
  color: transparent;
  border-color: transparent;
}

#footer span.a-deco:hover {
  text-decoration: underline;
}

#footer p {
  line-height: 1.9;
}

footer.end {
  background: var(--primary-color-dark);
  height: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-size: 12px;
}

/*  MEDIA QUESRIES */

@media (max-width: 1000px) {
  .nav-language .contact {
    display: none;
  }
  .nav-language .social {
    text-align: start;
  }
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  #footer h5 {
    margin-left: 0;
    margin-right: 0;
  }
  #footer .footer-change {
    justify-content: center !important;
  }
}

@media (max-width: 550px) {
  #footer .invisible {
    display: none;
  }
}
