{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- DATEPICKER -->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- OWN CSS -->
    <link rel="stylesheet" href="{% static 'apartmany/contact_style.css'%}" />
    <title>Miroslav Apartmany & Studia</title>
    <!-- CONTACT/RESERVATION FUNCTION -->
    <script>
    function contactFunction() {
      var x = document.getElementById("contactForm");
      var y = document.getElementById("reservationForm");
      x.style.display = "block";
      y.style.display = "none";
      }
    </script>
    <script>
    function reservationFunction() {
      var x = document.getElementById("reservationForm");
      var y = document.getElementById("contactForm");
      x.style.display = "block";
      y.style.display = "none";
      }  
    </script>
    <script>
      $(document).ready(function() {
        $("#inputType").change(function() {
            var val = $(this).val();
            if (val == "Apartment") {
                $("#inputNumber").html("<option value='Not Specified'>Not Specified</option><option value='7'>7</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option>");
                $("#inputGuests").html("<option value='Not Specified'>Not Specified</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option>");
            } else if (val == "Studio") {
                $("#inputNumber").html("<option value='Not Specified'>Not Specified</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option>");
                $("#inputGuests").html("<option value='Not Specified'>Not Specified</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option>");
            } else if (val == "Unknown") {
                $("#inputNumber").html("<option value=''>Not Specified</option>");
                $("#inputGuests").html("<option value='Not Specified'>Not Specified</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option>");
            }
        });
      });
    </script>
  </head>
  <body>
    <!-- NAVBAR 1 -->
    <div class="nav-language">
      <div class="container nav-contain">
        <div class="row align-items-center pl-0 pr-0 pl-lg-3 pr-lg-3 justify-content-between nav-row">
          <div class="col-lg-5 contact text-start pl-0 pr-0 d-none d-lg-block">
            <i class="fas fa-phone"></i>
            <a href="#"><span> +421 903 263 457</span></a>
            <span class="bar">|</span>
            <i class="fas fa-envelope"></i>
            <a href="#"><span> vysny.m@stonline.sk</span></a>
          </div>
          <div class="col-sm-3 col-lg-2 social text-start text-lg-center pl-0 pr-0 d-none d-sm-block">
            <a
              href="https:/www.tripadvisor.com/Hotel_Review-g1009332-d6969584-Reviews-Apartmany_a_Studia_Miroslav-Demanovska_Dolina_Zilina_Region.html"
              ><i class="fab fa-tripadvisor fa-2x"></i
            ></a>
            <a href="https:/www.facebook.com/ApartmanyAStudiaMiroslav/"><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <div class="col-12 col-sm-9 col-lg-5 pl-sm-0 pr-sm-0 languages text-right align-content-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary"><img src="{% static 'apartmany/img/sk.png'%}" /> SK</button>
              <button type="button" class="btn btn-secondary active"><img src="{% static 'apartmany/img/uk.png'%}" /> ENG</button>
              <button type="button" class="btn btn-secondary"><img src="{% static 'apartmany/img/ger.png'%}" /> GER</button>
              <button type="button" class="btn btn-secondary pr-0"><img src="{% static 'apartmany/img/pl.png'%}" /> PL</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR 2 -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'apartmany/img/logo1.png'%}" alt="Apartmany & Studia Miroslav"/></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'studios' %}">Studios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'apartments' %}">Apartments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'prices_and_faqs' %}">Prices & FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'guestbook' %}">Guestbook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'surroundings' %}">Surroundings</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link secondary-nav" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- MODAL -->
    {% if message %}
    <div class="modal fade" id="surveyModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 d-none d-lg-block survey-image">
                <img src="{% static 'apartmany/img/miro.jpg'%}" alt="Miro">
              </div>
              <div class="col-12 col-lg-6 survey-text pt-3 pb-3 pt-lg-0 pb-lg-0">
                <h4><strong>{{ message }}</strong></h4>
                <hr class="d-none d-lg-block">
                <div class="survey-image-small mt-3 mb-3 d-block d-lg-none">
                  <img src="{% static 'apartmany/img/miro.jpg'%}" alt="Miro2" class="d-block d-lg-none">
                </div>
                <h6 style="text-align: justify">That's it Guys<strong>Azure Restaurant</strong> on Campus for you and three friends. We will contact the winner tomorrow.</h6>
                <button type="button" class="btn btn-lg mt-3" data-dismiss="modal" aria-label="Close">Got it!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <!-- CARD WRAPER -->

    <div class="pimg">
      <div class="pimg-overlay">
        <div class="row h-100 align-content-center">
          <div class="col-12">
            <div class="header-text text-center justify-content-center">
              <h1>CONTACT<br>&<br>RESERVATION</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="inner-container pt-5 pb-5">
          <div class="contact-text text-justify mb-5">
            <p>Please feel free to send us any question or a reservation requests, using the forms provided below. In case you would like to reserve an apartment or studio, please provide us with your desired arrival and return dates, your preferred apartment or studio and the number of people. Be aware that in our high seasons between XX/XX/XX and XX/XX/XX, bookings can only be arranged for a whole week, starting each Saturday. Your reservation request does not represent a binding offer and we will get in contact with you through your provided email as soon as possible to arrange the booking.</p>
          </div>

          <!-- CARDS -->

              <div class="row">

                <!-- FORM ON THE LEFT -->
      
                  <div class="col-12 col-lg-8">

                    <div class="row justify-content-between form-selection mb-4">
                      <div class="col-12">
                        <div class="row" style="margin: 0 -5px 0 -5px;">
                          <div class="col-6 text-center" style="padding: 0 5px 0 5px;">
                            <button class="p-2 w-100" onclick="contactFunction()">Contact & Questions</button>
                          </div>
                          <div class="col-6 text-center" style="padding: 0 5px 0 5px;">
                            <button class="p-2 w-100" onclick="reservationFunction()">Reservation Request</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- START CONTACT & QUESTIONS -->

                    <div class="row">
                      <div class="col-12">
                        <form method="POST" id="contactForm" style="display: block;">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                              <label for="inputName">Name</label>
                              <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name" required>
                            </div>
                            <div class="form-group col-12 col-md-6">
                              <label for="inputEmail">Email</label>
                              <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" required>
                            </div>
                            <div class="form-group col-12">
                              <label for="inputSubject">Subject</label>
                              <input type="text" class="form-control" id="inputSubject" placeholder="Subject" name="Subject" required>
                            </div>
                            <div class="form-group col-12">
                              <label for="inputMessage">Message</label>
                              <textarea class="form-control" id="inputMessage" rows="10" name="Message" required></textarea>
                            </div>
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-contact" name="Submit-Contact">Send Message</button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!-- END CONTACT & QUESTIONS -->

                    <!-- START RESERVATION REQUEST -->

                    <div class="row">
                      <div class="col-12">
                        <form method="POST" id="reservationForm" style="display: none;">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                              <label for="inputName">Name</label>
                              <input type="text" class="form-control" id="inputName" placeholder="Name" name="Name" required>
                            </div>
                            <div class="form-group col-12 col-md-6">
                              <label for="inputEmail">Email</label>
                              <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" required>
                            </div>
                            <div class="form-group col-12 col-md-6">
                              <label for="inputType">Accomodation Type</label>
                              <select class="form-control" id="inputType" name="Type" required>
                                <option value="Unknown">Please Select</option>
                                <option value="Apartment">Apartment</option>
                                <option value="Studio">Studio</option>
                              </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                              <label for="inputNumber">Accomodation Detail</label>
                              <select class="form-control" id="inputNumber" name="Number" required>
                                <option value="Unknown">Please Select</option>
                              </select>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                              <div class="row">
                                <div class="col-6">
                                  <label for="inputStartDate">From</label>
                                  <input type='text' class="form-control" id='inputStartDate' placeholder="First Day" name="Start_Date" required>    
                                </div>
                                <div class="col-6">
                                  <label for="inputEndDate">To</label>
                                  <input type='text' class="form-control" id='inputEndDate' placeholder="Last Day" name="End_Date" required>  
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                              <label for="inputGuests">Number of Guests</label>
                              <select class="form-control" id="inputGuests" name="Guests" required>
                                <option value="Unknown">Please Select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                              </select>
                            </div>
                            <div class="form-group col-12">
                              <label for="inputMessage">Message</label>
                              <textarea class="form-control" id="inputMessage" rows="10" name="Message" required></textarea>
                            </div>
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-contact" name="Submit-Reservation">Send Message</button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <!-- END RESERVATION REQUEST -->
                    
                  </div>
      
                <!-- END FORM -->
      
                <!-- CONTACT CARD ON THE RIGHT -->
      
                  <div class="col-12 col-lg-4 mt-5 mt-lg-0">
                    <div class="card card-image p-0 h-100">
                      <div class="contact-overlay"></div>
      
                      <!-- Content -->
                      <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong px-3 h-100" style="z-index: 2;">
                        <div>
                          <img class="no-overlay-picture mb-2 mt-4 mt-lg-0" src="{% static 'apartmany/img/miro.jpg'%}" alt="Miroslav Vysny"><br>
                          <h3 class="card-title pt-2 pb-2"><strong>Miroslav Vysny</strong></h3>
                          <p>
                            Demanovskaà Dolina 11<br>
                            031 01 Liptovsky Mikulas<br>
                            SLOVENSKO
                          </p>
                          <p class="mb-4 mb-lg-0">
                            <i class="fas fa-phone mr-1"></i>
                            +421 903 263 457<br>
                            <i class="fas fa-envelope mr-1"></i>
                            vysny.m@stonline.sk<br>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <!-- END CONTACT CARD -->
      
                </div>

            </div>

          

          <!-- END CARDS -->

        </div>
      </div>

      <!-- END CARD WRAPPER -->


    <!-- MAIN FOOTER -->
    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left pb-2">
          <div class="col-md-6 pt-3 pb-1 d-none d-md-block">
            <div class="row text-center justify-content-start text-xs-center text-sm-left text-md-left footer-change">
              <div class="col-xs-12 footer-change">
                <h5>Quick Links</h5>
              </div>
            </div>
            <div class="row text-center text-xs-center text-sm-left text-md-left">
              <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled quick-links">
                  <li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
                  <li><a href="{% url 'apartments' %}"><i class="fa fa-angle-double-right"></i>Apartments</a></li>
                  <li><a href="{% url 'studios' %}"><i class="fa fa-angle-double-right"></i>Studios</a></li>
                  <li><a href="{% url 'prices_and_faqs' %}"><i class="fa fa-angle-double-right"></i>Pricelist</a></li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled quick-links">
                  <li><a href="{% url 'gallery' %}"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                  <li><a href="{% url 'guestbook' %}"><i class="fa fa-angle-double-right"></i>Guestbook</a></li>
                  <li><a href="{% url 'surroundings' %}"><i class="fa fa-angle-double-right"></i>Surroundings</a></li>
                  <li><a href="{% url 'contact' %}"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 pt-3 pb-1">
            <div class="row justify-content-md-end justify-content-center text-center text-md-left footer-change">
              <div class="col-xs-12 footer-change">
                <h5>Contact</h5>
              </div>
            </div>
            <div class="row text-center text-md-right">
              <div class="col-sm-12 col-md-12">
                <p>Miroslav Vysny <br>
                Demanovskaà Dolina 11 <br>
                031 01 Liptovsky Mikulas <br>
                SLOVENSKO</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-0 mt-sm-2">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="https:/www.facebook.com/ApartmanyAStudiaMiroslav/"><i class="fab fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https:/www.tripadvisor.com/Hotel_Review-g1009332-d6969584-Reviews-Apartmany_a_Studia_Miroslav-Demanovska_Dolina_Zilina_Region.html"><i class="fab fa-tripadvisor"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" ><i class="fas fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" ><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          </hr>
        </div>	
      </div>
    </section>

    <!-- END FOOTER -->
    <footer class="end">
      <div class="row text-center pt-2 pb-2">
        <div class="col-12">
          <p class="mb-0">Copyright &copy; 2019 by Miroslav Vysny</p>
        </div>
      </div>
    </footer>

    <!-- BOOTSTRAP SCRIPTS -->

    <script>
      $('#inputStartDate').datepicker({
          format: 'dd/mm/yy',
          uiLibrary: 'bootstrap4'
      });
      $('#inputEndDate').datepicker({
          format: 'dd/mm/yy',
          uiLibrary: 'bootstrap4'
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>