{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- LIGHTBOX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <!-- OWN CSS -->
    <link rel="stylesheet" href="{% static 'apartmany/gallery_style.css'%}" />
    <title>Miroslav Apartmany & Studia</title>
  </head>
  <body>

    <!-- NAVBAR 1 -->
    <div class="nav-language">
      <div class="container nav-contain">
        <div class="row align-items-center pl-0 pr-0 pl-lg-3 pr-lg-3 justify-content-between nav-row">
          <div class="col-lg-5 contact text-start pl-0 pr-0 d-none d-lg-block">
            <i class="fas fa-phone"></i>
            <a href="#"><span> +421 903 263 457</span></a>
            <span class="bar">|</span>
            <i class="fas fa-envelope"></i>
            <a href="#"><span> vysny.m@stonline.sk</span></a>
          </div>
          <div class="col-sm-3 col-lg-2 social text-start text-lg-center pl-0 pr-0 d-none d-sm-block">
            <a
              href="https:/www.tripadvisor.com/Hotel_Review-g1009332-d6969584-Reviews-Apartmany_a_Studia_Miroslav-Demanovska_Dolina_Zilina_Region.html"
              ><i class="fab fa-tripadvisor fa-2x"></i
            ></a>
            <a href="https:/www.facebook.com/ApartmanyAStudiaMiroslav/"><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <div class="col-12 col-sm-9 col-lg-5 pl-sm-0 pr-sm-0 languages text-right align-content-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary"><img src="{% static 'apartmany/img/sk.png'%}" /> SK</button>
              <button type="button" class="btn btn-secondary active"><img src="{% static 'apartmany/img/uk.png'%}" /> ENG</button>
              <button type="button" class="btn btn-secondary"><img src="{% static 'apartmany/img/ger.png'%}" /> GER</button>
              <button type="button" class="btn btn-secondary pr-0"><img src="{% static 'apartmany/img/pl.png'%}" /> PL</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR 2 -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'apartmany/img/logo1.png'%}" alt="Apartmany & Studia Miroslav"/></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'studios' %}">Studios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'apartments' %}">Apartments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'prices_and_faqs' %}">Prices/FAQs</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link secondary-nav" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'guestbook' %}">Guestbook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'surroundings' %}">Surroundings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- CARD WRAPER -->

    <!-- HEADER -->

    <div class="pimg">
      <div class="pimg-overlay">
        <div class="row h-100 align-content-center">
          <div class="col-12">
            <div class="header-text text-center justify-content-center">
              <h1>GALLERY</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="inner-container pt-5 pb-5">

    <!-- END HEADER -->

        <!-- GALLERY -->

            <!-- FIRST GALLERY SECTION -->

            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-pills justify-content-center mb-4" id="pills-tab" role="tablist">
                  <li class="nav-item gallery">
                    <a class="nav-link active" id="pills-winter-tab" data-toggle="pill" href="#pills-winter" role="tab" aria-controls="pills-winter" aria-selected="true">Winter</a>
                  </li>
                  <li class="nav-item gallery">
                    <a class="nav-link" id="pills-summer-tab" data-toggle="pill" href="#pills-summer" role="tab" aria-controls="pills-summer" aria-selected="false">Summer</a>
                  </li>
                  <li class="nav-item gallery">
                    <a class="nav-link" id="pills-facilities-tab" data-toggle="pill" href="#pills-facilities" role="tab" aria-controls="pills-facilities" aria-selected="false">Facilities</a>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-winter" role="tabpanel" aria-labelledby="pills-winter-tab">
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-12">
                            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officiis expedita laborum odit voluptatum voluptatibus magnam, illo, quo aperiam molestias soluta ullam non ipsum ab amet ut, obcaecati incidunt excepturi?</p>
                          </div>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/winter/w_1.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/winter/w_1.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/winter/w_2.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/winter/w_2.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/winter/w_3.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/winter/w_3.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/winter/w_4.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/winter/w_4.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/winter/w_5.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/winter/w_5.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/winter/w_6.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/winter/w_6.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-summer" role="tabpanel" aria-labelledby="pills-summer-tab">
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-12">
                            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officiis expedita laborum odit voluptatum voluptatibus magnam, illo, quo aperiam molestias soluta ullam non ipsum ab amet ut, obcaecati incidunt excepturi?</p>
                          </div>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_1.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_1.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_2.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_2.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_3.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_3.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_4.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_4.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_5.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_5.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_6.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_6.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_7.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_7.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_8.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_8.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_9.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_9.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_10.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_10.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_11.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_11.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_12.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_12.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_13.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_13.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_14.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_14.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_15.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_15.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_16.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_16.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_17.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_17.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_18.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_18.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_19.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_19.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_20.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_20.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_21.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_21.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_22.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_22.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_23.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_23.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_24.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_24.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/summer/s_25.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/summer/s_25.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_26.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_26.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/summer/s_27.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/summer/s_27.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-facilities" role="tabpanel" aria-labelledby="pills-facilities-tab">
                    <div class="row justify-content-center">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-12">
                            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officiis expedita laborum odit voluptatum voluptatibus magnam, illo, quo aperiam molestias soluta ullam non ipsum ab amet ut, obcaecati incidunt excepturi?</p>
                          </div>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/facilities/f_1.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/facilities/f_1.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/facilities/f_2.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/facilities/f_2.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/facilities/f_3.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/facilities/f_3.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/facilities/f_4.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/facilities/f_4.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/facilities/f_5.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/facilities/f_5.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/facilities/f_6.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/facilities/f_6.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                        <div class="row pt-sm-3 pt-0 pb-sm-3 pb-0">
                          <a href="{% static 'apartmany/img/gallery/facilities/f_7.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                              <img src="{% static 'apartmany/img/gallery/facilities/f_7.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/facilities/f_8.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/facilities/f_8.jpg'%}" class="img-fluid">
                          </a>
                          <a href="{% static 'apartmany/img/gallery/facilities/f_9.jpg'%}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 pt-sm-0 pt-3 pb-sm-0 pb-3">
                            <img src="{% static 'apartmany/img/gallery/facilities/f_9.jpg'%}" class="img-fluid">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <!-- END FIRST GALLERY SECTION -->

        <!-- END GALLERY -->

      </div>
    </div>

    <!-- END CARD WRAPPER -->


    <!-- MAIN FOOTER -->
    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left pb-2">
          <div class="col-md-6 pt-3 pb-1 d-none d-md-block">
            <div class="row text-center justify-content-start text-xs-center text-sm-left text-md-left footer-change">
              <div class="col-xs-12 footer-change">
                <h5>Quick Links</h5>
              </div>
            </div>
            <div class="row text-center text-xs-center text-sm-left text-md-left">
              <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled quick-links">
                  <li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
                  <li><a href="{% url 'apartments' %}"><i class="fa fa-angle-double-right"></i>Apartments</a></li>
                  <li><a href="{% url 'studios' %}"><i class="fa fa-angle-double-right"></i>Studios</a></li>
                  <li><a href="{% url 'prices_and_faqs' %}"><i class="fa fa-angle-double-right"></i>Pricelist</a></li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled quick-links">
                  <li><a href="{% url 'gallery' %}"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                  <li><a href="{% url 'guestbook' %}"><i class="fa fa-angle-double-right"></i>Guestbook</a></li>
                  <li><a href="{% url 'surroundings' %}"><i class="fa fa-angle-double-right"></i>Surroundings</a></li>
                  <li><a href="{% url 'contact' %}"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 pt-3 pb-1">
            <div class="row justify-content-md-end justify-content-center text-center text-md-left footer-change">
              <div class="col-xs-12 footer-change">
                <h5>Contact</h5>
              </div>
            </div>
            <div class="row text-center text-md-right">
              <div class="col-sm-12 col-md-12">
                <p>Miroslav Vysny <br>
                Demanovskaà Dolina 11 <br>
                031 01 Liptovsky Mikulas <br>
                SLOVENSKO</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-0 mt-sm-2">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="https:/www.facebook.com/ApartmanyAStudiaMiroslav/"><i class="fab fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https:/www.tripadvisor.com/Hotel_Review-g1009332-d6969584-Reviews-Apartmany_a_Studia_Miroslav-Demanovska_Dolina_Zilina_Region.html"><i class="fab fa-tripadvisor"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" ><i class="fas fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" ><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          </hr>
        </div>	
      </div>
    </section>

    <!-- END FOOTER -->
    <footer class="end">
      <div class="row text-center pt-2 pb-2">
        <div class="col-12">
          <p class="mb-0">Copyright &copy; 2019 by Miroslav Vysny</p>
        </div>
      </div>
    </footer>

    <!-- BOOTSTRAP SCRIPTS -->

    <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>