{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- OWN CSS -->
    <link rel="stylesheet" href="{% static 'apartmany/prices_and_faqs_style.css'%}" />
    <title>Mirosvlav Apartmany & Studia</title>
  </head>

  <body>
    <!-- NAVBAR 1 -->
    <div class="nav-language">
      <div class="container nav-contain">
        <div class="row align-items-center justify-content-between nav-row">
          <div class="col-5 contact text-start">
            <i class="fas fa-phone"></i>
            <a href="#"><span> +421 903 263 457</span></a>
            <span class="bar">|</span>
            <i class="fas fa-envelope"></i>
            <a href="#"><span> vysny.m@stonline.sk</span></a>
          </div>
          <div class="col-3 col-md-2 col-sm-3 social text-center">
            <a
              href="https://www.tripadvisor.com/Hotel_Review-g1009332-d6969584-Reviews-Apartmany_a_Studia_Miroslav-Demanovska_Dolina_Zilina_Region.html"
              ><i class="fab fa-tripadvisor fa-2x"></i
            ></a>
            <a href="https://www.facebook.com/ApartmanyAStudiaMiroslav/"><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <div class="col-9 col-md-5 col-sm-8 languages text-right">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary"><img src="/img/sk.png" /> SK</button>
              <button type="button" class="btn btn-secondary active"><img src="/img/uk.png" /> ENG</button>
              <button type="button" class="btn btn-secondary"><img src="/img/ger.png" /> GER</button>
              <button type="button" class="btn btn-secondary"><img src="/img/pl.png" /> PL</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR 2 -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="/img/logo1.png" alt="Apartmany & Studia Miroslav"/></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'studios' %}">Studios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'apartments' %}">Apartments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'prices_and_faqs' %}">Pricelist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'guestbook' %}">Guestbook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="#">Surroundings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link secondary-nav" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- START NINOCHKA -->

      <div class="container">


      </div>

    <!-- END NINOCHKA -->
        
 

    <!-- MAIN FOOTER -->
    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left pb-2">
          <div class="col-sm-6 col-md-6 pt-3 pb-1">
            <div class="row text-center justify-content-start text-xs-center text-sm-left text-md-left footer-change">
              <div class="col-xs-12 footer-change">
                <h5>Quick Links</h5>
              </div>
            </div>
            <div class="row text-center text-xs-center text-sm-left text-md-left">
              <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled quick-links">
                  <li><a href="index.html"><i class="fa fa-angle-double-right"></i>Home</a></li>
                  <li><a href="/apartment.html"><i class="fa fa-angle-double-right"></i>Apartments</a></li>
                  <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Studios</a></li>
                  <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Pricelist</a></li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-6">
                <ul class="list-unstyled quick-links">
                  <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                  <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Guestbook</a></li>
                  <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Surroundings</a></li>
                  <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Order</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 pt-3 pb-1">
            <div class="row text-center justify-content-end text-xs-center text-sm-left text-md-left footer-change">
              <div class="col-xs-12 footer-change">
                <h5>Contact</h5>
              </div>
            </div>
            <div class="row text-center text-xs-center text-sm-right text-md-right">
              <div class="col-sm-12 col-md-12">
                <p>Miroslav Vysny <br>
                Demanovskaà Dolina 11 <br>
                031 01 Liptovsky Mikulas <br>
                SLOVENSKO</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-0 mt-sm-2">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="https://www.facebook.com/ApartmanyAStudiaMiroslav/"><i class="fab fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.tripadvisor.com/Hotel_Review-g1009332-d6969584-Reviews-Apartmany_a_Studia_Miroslav-Demanovska_Dolina_Zilina_Region.html"><i class="fab fa-tripadvisor"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" ><i class="fas fa-phone"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" ><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          </hr>
        </div>	
      </div>
    </section>

    <!-- END FOOTER -->
    <footer class="end">
      <div class="row text-center pt-2 pb-2">
        <div class="col-12">
          <p class="mb-0">Copyright &copy; 2019 by Miroslav Vysny</p>
        </div>
      </div>
    </footer>

    <!-- BOOTSTRAP SCRIPTS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>